/* banner */
.banner-move-lateral {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; /* Ajuste a altura conforme necessário */
}

.banner-slide {
  display: flex;
  width: 300%; /* Número de imagens multiplicado por 100% */
  height: 100%;
  transition: transform 1s ease-in-out;
}

.banner-slide a {
  flex: 1;
  width: 100%;
  height: 100%;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-item {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-caption {
  position: absolute;
  bottom: 0; /* Alinha a legenda com a parte inferior da imagem */
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;

  font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  width: 100% /* Ajuste a largura conforme necessário */;
  box-sizing: border-box; /* Inclui o padding na largura total */
  margin: 0; /* Remove qualquer margem */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.666%);
  } /* 100% dividido pelo número de imagens */
}

/* elementos gerais */
.tudo {
  background-color: #ededed;
}

/* página FAQ */
.faq-list {
  list-style-type: none;
  padding: 0;
}

.faq-item {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.faq-item:hover {
  background-color: #e1e1e1;
}

form {
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

html,
body {
  height: 100%; /* Garante que o HTML e o body ocupem 100% da altura da tela */
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe pelo menos 100% da altura da tela */
}

main {
  flex: 1; /* Faz com que o main ocupe o espaço restante da página */
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 5%;
  box-sizing: border-box; /* Inclui o padding na largura total */
}

.site-index {
  text-align: center;
}

/* Estilos adicionais para imagens e outros elementos dentro de main */
main img {
  display: block;
  margin: 20px auto; /* Centraliza as imagens horizontalmente e adiciona margem vertical */
}

header {
  background-color: #1d3557;
  color: #ffffff;
  align-items: center; /* Alinha verticalmente os itens ao centro */
  text-align: center; /* Centraliza o texto dentro do cabeçalho */
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.5)
  ); /* Adiciona um gradiente ao fundo do logo-wrapper */
}

.logo-topo {
  margin-left: 25%;
  width: 400px; /* Reduz a largura do logo */
  height: auto;
  /* Adiciona margem à esquerda da logo */
  margin-top: 20px; /* Adiciona margem ao topo da logo */
  margin-bottom: 20px; /* Adiciona margem ao fundo da logo */
}

.logo-menu {
  width: auto;
  height: 15px;
  margin-right: 0px; /* Adiciona margem à direita do ícone do menu */
  margin-left: 0px; /* Adiciona margem à esquerda do ícone do menu */
}

h2 {
  font-size: 25px;

  margin: 10px; /* Adiciona margem de 10px nas laterais do título */
}

/* Menu de navegação */
nav.cor {
  background-color: #457b9d;
  text-align: center; /* Centraliza o texto dentro do elemento <nav> */
}

nav.cor a {
  font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado dos links */
}

nav.cor ul {
  margin: 0;
  padding: 0;
  display: inline-block; /* Define o elemento <ul> como um bloco inline */
}

nav.cor ul li {
  display: inline-block;
  margin-right: 50px;
  transition: box-shadow 0.3s; /* Adiciona uma transição suave para a sombra */
}

nav.cor ul li:last-child {
  border-right: none; /* Remove a borda direita do último item */
}

nav.cor ul li a {
  display: block; /* Para que o link ocupe toda a largura do item do menu */
  padding: 15px; /* Adiciona espaço entre o texto e a borda do item */
}

nav.cor ul li:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao item do menu ao passar o mouse */
}

/* Página Produtos */
.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.produto {
  text-align: center;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.produto-imagem {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

// compra.html
.produto-compra {
  text-align: center;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.produto-imagem-compra {
  max-width: 100%;
  max-height: 200px; /* Definindo a altura máxima */
  height: auto;
  border-radius: 4px;
}
.barra-pesquisa {
  display: none;
}
/* Form compra */
#form-compra {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#form-compra form {
  display: flex;
  flex-direction: column;
}

#form-compra label {
  margin-bottom: 8px;
  font-weight: bold;
}

#form-compra input[type="text"],
#form-compra input[type="number"],
#form-compra select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

#form-compra button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#form-compra button:hover {
  background-color: #45a049;
}

// texto aviso compra
.info-text {
  color: #888; /* Cor cinza */
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos gerais para o formulário de cadastro */
#cadastro {
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-cadastro ul {
  list-style: none;
  padding: 0;
}

#form-cadastro li {
  margin-bottom: 15px;
}

#form-cadastro label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

#form-cadastro input[type="text"],
#form-cadastro input[type="email"],
#form-cadastro input[type="cpf"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#form-cadastro button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#form-cadastro button:hover {
  background-color: #0056b3;
}

/* Footer */
footer.borda {
  color: white;
  width: 100%;
  padding: 0px 0px; /* Ajuste o padding conforme necessário */
  box-sizing: border-box;
  text-align: center;
  background-color: #010a0f; /* Cor de fundo do footer */
}

.footer-container {
  display: flex;
  flex-direction: column; /* Alinha as áreas uma abaixo da outra */
  margin-bottom: 20px;
}

.footer-licencas,
.footer-links {
  background-color: #333; /* Cor de fundo para a área de licenças */
  padding: 0px; /* Espaçamento interno */
  padding-bottom: 20px; /* Espaço entre as áreas */
  padding-top: 20px; /* Espaço entre as áreas */
  border-radius: 0px; /* Bordas arredondadas, se desejado */
  margin-bottom: 0px; /* Espaço entre as áreas */
}

.footer-licencas {
  background-color: white; /* Cor de fundo para a área de licenças */
}

.footer-links {
  padding-top: 0px; /* Espaço entre as áreas */
  background-color: #153245; /* Cor de fundo para a área de links */
  font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
}

.footer-licencas h3,
.footer-links h3 {
  margin-bottom: 10px;
}

.licencas-imagens {
  display: flex;
  gap: 20px; /* Espaço entre as imagens */
  justify-content: center;
}

.licencas-imagens img {
  height: 40px; /* Ajuste a altura conforme necessário */
  object-fit: contain;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 10px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; /* Ajuste o tamanho da fonte dos links conforme necessário */
}

.footer-links a:hover {
  text-decoration: underline;
}

footer p {
  margin: 10px 0; /* Adicione margens para separar os parágrafos */
}

/*repsonsivity*/

/* Estilos para telas maiores que 768px (tamanho de tablet e desktop) */
@media screen and (min-width: 768px) {
  body {
    font-size: 16px; /* Ajuste o tamanho da fonte para telas maiores */
  }

  nav.cor ul {
    display: inline-block; /* Define o elemento <ul> como um bloco inline */
  }

  nav.cor ul li {
    display: inline-block; /* Alinha os itens horizontalmente */
    margin-right: 50px;
  }
}

/* Estilos para telas menores que 768px (tamanho de tablet e celular) */
@media screen and (max-width: 768px) {
  nav.cor {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha se necessário */
    justify-content: center; /* Centraliza os itens horizontalmente */
  }

  nav.cor ul {
    display: flex; /* Exibe os itens de lista em linha */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha se necessário */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
    list-style-type: none; /* Remove os marcadores */
    justify-content: center; /* Centraliza os itens horizontalmente */
  }

  nav.cor ul li {
    display: inline-block; /* Alinha os itens horizontalmente */
    margin: 0 10px; /* Adiciona espaçamento horizontal entre os itens */
  }

  nav.cor ul li a {
    padding: 15px; /* Adiciona espaço entre o texto e a borda do item */
  }

  main {
    padding: 10px; /* Reduza o preenchimento do conteúdo principal */
  }

  footer {
    padding: 5px 10px; /* Reduza o preenchimento do rodapé */
  }
}
